body {
  background-color: #ABE3CF;
  font-family: 'Roboto', sans-serif;
}

/*h1, {
  text-align: center;

}*/

p, li {
	font-size: 1.5em;
}
h2 {
	text-align: left;
}

#heading {
  font-size: 4em;
  color: #E6E3B3;
  text-align: center;
}

#contact {
	padding: 20px;
}

.lead {
	font-size: 2em;
  font-style: italic;
  text-align: center;
  color: #E8BAD9;
}

.container {
  padding: 50px;
  max-width: 800px;
  background-color: black;
}

.col-md-6 {
	padding-bottom: 20px;
}


img {


	height: 213px; 
	width: 195px;
	margin-left: 60px;
	
}

